{% extends 'homedash.html' %}

{% block content %}
<body>
    <!-- {% for image in images%}

                <img src="data:image/jpg;base64, {{ image }}" />
            {%endfor%}
            -->
<!-- <style>
        img {
            max-width:100%;
            height:auto;
        }

        
</style>
            <img class="img-thumbnail"src="{{url_for ('static', filename=image_name) }}" />

            
     {{image_name}}
     {% for image_names in image_names%}

     <img src="{{url_for('send_image', filename=image_names)}}">
 {%endfor%}
  -->
            <footer class="footer" >
                <p>&copy; Website</p>
            </footer>
 
        </div>
</body>
 

            
{% endblock content%} 