
{% extends 'Homelayout.html' %}

{% block content %}
<body>
    <!-- {% for image in images%}

                <img src="data:image/jpg;base64, {{ image }}" />
            {%endfor%}
            -->
<style>
        img {
            max-width:50%;
            height:auto;
        }

        
</style>
<div class="container">
  <div class="row">
     <div class="col-lg-12">
       <h1 class="page-header"> Images</h1>

     </div>
     {{image_name}}
     <hr>
     {% for image_names in image_names%}

     <img src="{{url_for('send_image', filename=image_names)}}">
 {%endfor%}
 
  </div>
</div>

            

            
     <footer class="footer" >
                <p>&copy; Website</p>
            </footer>
 
        </div>
</body>
 

            
{% endblock content%} 
